.btn-primary-sm {
  color: $white;
  background-color: $purple100;
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0;
  &:hover {
    background-color: $purple70;
    color: $white;
  }
  &:focus {
    border: none;
    box-shadow: none;
  }
}

.btn-primary-lg {
  color: $white;
  background-color: $purple100;
  padding: 13px 16px;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0;
  &:hover {
    background-color: $purple70;
    color: $white;
  }
  &:focus {
    border: none;
    box-shadow: none;
    color: $white;
  }
}

.btn-secondary-sm {
  color: $purple100;
  border: 1px solid $purple100;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0;
  &:hover {
    background-color: $purple70;
    color: $white;
  }
  &:focus {
    border: none;
    box-shadow: none;
  }
}

.btn-secondary-lg {
  color: $purple100;
  border: 1px solid $purple100;
  padding: 13px 16px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0;
  &:hover {
    background-color: $purple70;
    color: $white;
  }
  &:focus {
    border: none;
    box-shadow: none;
    color: $white;
  }
}
