// color
$purple120: #9f8799;
$purple100: #9f8799;
$purple70: #d7c2d2;
$purple50: #e3d4df;
$purple30: #f3edf2;

$gold100: #d19d3e;

$black100: #120a02;
$black70: #413a34;
$whitehover: #b7b5b3;
$whitehover2: #cccccc;
$white: #fff;

// radius
$rd-xs: 5px;
$rd-sm: 10px;
$rd-md: 15px;
$rd-lg: 20px;

// typeface

@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Dancing+Script:wght@400;700&family=Philosopher:wght@700&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&family=Sacramento&display=swap");
@font-face {
  font-family: KaylaKatrina;
  src: url(../Asset/font/KaylaKatrina.otf);
}
$txt-clicker: "Clicker Script", cursive;
$txt-sacramento: "Sacramento", cursive;
$txt-dancing: "Dancing Script", cursive;
$txt-playfair: "Playfair Display", serif;
$txt-philosopher: "Philosopher", sans-serif;
$txt-normal: "Poppins", sans-serif;

//responsive
/* Normal desktop :1200px. */
$large_device: "(min-width: 1200px)";

/* Small desktop :992px. */
$mid_device: "(min-width: 992px) and (max-width: 1200px)";

/* Tablet desktop :768px. */
$tablet_device: "(min-width: 768px) and (max-width: 991px)";

/* Large Mobile :480px. */
$large_mobile: "only screen and (min-width: 480px) and (max-width: 767px)";

/* small mobile :320px. */
$mobile_device: "(max-width: 767px)";
