<%- include('./partials/header.html') %>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper" id="form-pernikahan">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/wo/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>

    <%- include('./partials/pernikahan-navbar.html') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="form-divisi">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <%- include('./partials/form-pernikahan/form-informasi-umum.html') %>
        <% if (locals.id) { %>
        <%- include('./partials/form-pernikahan/form-informasi-cpp.html') %>
        <%- include('./partials/form-pernikahan/form-sesi.html') %>
        <%- include('./partials/form-pernikahan/form-grup.html') %>
        <%- include('./partials/form-pernikahan/form-tamu.html') %>
        <%- include('./partials/form-pernikahan/form-gallery.html') %>
        <%- include('./partials/form-pernikahan/form-buku-tamu.html') %>
        <%- include('./partials/form-pernikahan/form-story.html') %>
        <%- include('./partials/form-pernikahan/form-link-undangan.html') %>
        <%- include('./partials/form-pernikahan/form-angpau.html') %>
        <% } %>
    </div>
</div>
<footer class="main-footer">
    <strong>Copyright &copy; 2022 Kawin Lari</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
    </div>
</footer>
<%- include('./partials/footer.html') %>
<script type="application/javascript">
    <% if (locals.id) { %>
        let idNikahan = "<%= id %>";
        <% } %>
    let emailWO = "<%= email %>";
</script>
<script type="application/javascript">
    var app = new Vue({
        el: '#form-pernikahan',
        data: {
            sideMenuIndex: 1,
            formatDate: "yyyy-MM-dd",
            defaultImageCover: '',
            defaultImageCoverPotrait: '',
            defaultImageCPP: '',
            defaultImageCPW: '',
            defaultImageQR : '',
            defaultMusik: '',
            addSession: false,
            editSession: false,
            addGuest: false,
            editGuest: false,
            addGroup: false,
            editGroup: false,
            addStory: false,
            editStory: false,
            addGuestBook: false,
            session: [],
            guest: [],
            guestBook: [],
            gallery: [],
            group: [],
            story: [],
            form: {
                id: '',
                id_wo: '',
                id_pengantin: '',
                nama: '',
                tanggal: '',
                nama_calon1: '',
                ortu_calon1: '',
                nama_calon2: '',
                ortu_calon2: '',
                image_calon1: null,
                image_calon2 : null,
                quote_cover: '',
                quote_body: '',
                image_cover: null,
                image_cover_potrait: null,
                switch_gallery: '',
                switch_story: '',
                template: '',
                english_mode: '',
                url_livestreaming: '',
                switch_streaming: true,
                angpau_qr: '',
                switch_angpau: '',
                angpau_rek_bank: '',
                angpau_rek_nomor: '',
                angpau_rek_nama: '',
                switch_bank: '',
                alamat_kado: '',
                switch_kado: '',
                musik: null
            },
            formSession: {
                id: '',
                id_pernikahan: '',
                nama_sesi: '',
                tanggal: '',
                waktu_mulai: '',
                waktu_selesai: '',
                alamat: '',
                url_gmaps: ''
            },
            formGuest: {
                id: '',
                id_pernikahan: '',
                id_grup: '',
                nama: '',
                telepon: '',
                jumlah_dewasa: 1,
                jumlah_anak: 0,
                rsvp: '',
                kehadiran: '',
                kode: '',
                is_vip: '',
                is_family: '',
                ucapan: '',
                sesi: []
            },
            formGallery: {
                id: '',
                id_pernikahan: '',
                image: null,
                keterangan: ''
            },
            formExcel: {
                id_pernikahan: '',
                excel: null
            },
            formGroup: {
                id: '',
                nama: '',
                id_pernikahan: ''
            },
            formStory: {
                id: '',
                id_pernikahan: '',
                tahun: '',
                story: ''
            },
            formGuestBook: {
                kode: '',
                status: '',
                id_pernikahan: ''
            }
        },
        methods: {
            //Area Informasi General
            onPhotoChange: function (e) {
                try {
                    let [file] = e.target.files;
                    if (!file) throw Error("File kosong");
                    this.form.image_cover = file;
                    document.getElementById("labelphoto").innerHTML = this.form.image_cover.name;
                } catch (error) {
                    console.error(error)
                }
            },
            onPhotoChangePotrait: function (e) {
                try {
                    let [file] = e.target.files;
                    if (!file) throw Error("File kosong");
                    this.form.image_cover_potrait = file;
                    document.getElementById("labelphotopotrait").innerHTML = this.form.image_cover_potrait.name;
                } catch (error) {
                    console.error(error)
                }
            },
            validationGeneralInformation: function () {
                let isValid = true
                if (this.form.nama === '' || this.form.nama == null)
                    isValid = false
                if (this.form.tanggal === '' || this.form.tanggal == null)
                    isValid = false
                if (this.form.image_cover === null)
                    isValid = false
                if (this.form.image_cover_potrait === null)
                    isValid = false
                if(this.form.quote_body){
                    if(this.form.quote_body.length >= 500) {
                        isValid = false
                        toastr.warning("Panjang karakter Quote Body tidak boleh lebih dari 500 karakter!")
                    }//endif
                }//endif
                return isValid
            },
            updateValidation: function () {
                let isValid = true
                if (this.sideMenuIndex === 1) {
                    if (!this.validationGeneralInformation())
                        isValid = false
                } else if (this.sideMenuIndex === 2) {
                    if (!this.validationCPPInformation())
                        isValid = false
                } else if (this.sideMenuIndex === 3) {
                    if (!this.validationCPWInformation())
                        isValid = false
                }
                return isValid
            },
            onUpdate: async function () {
                try {
                    if (!this.updateValidation())
                        toastr.warning("Harap mengisi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.form}
                        //Image Upload
                        if (formData.image_cover != null && formData.image_cover !== this.defaultImageCover)
                            formData.image_cover = await this.photoUpload(this.form.image_cover);
                        if (formData.image_cover_potrait != null && formData.image_cover_potrait !== this.defaultImageCoverPotrait)
                            formData.image_cover_potrait = await this.photoUpload(this.form.image_cover_potrait);
                        if (formData.image_calon1 != null && formData.image_calon1 !== this.defaultImageCPP)
                            formData.image_calon1 = await this.photoUpload(this.form.image_calon1);
                        if (formData.image_calon2 != null && formData.image_calon2 !== this.defaultImageCPW)
                            formData.image_calon2 = await this.photoUpload(this.form.image_calon2);
                        if (formData.angpau_qr != null && formData.angpau_qr !== this.defaultImageQR)
                            formData.angpau_qr = await this.photoUpload(this.form.angpau_qr);
                        if (formData.musik != null && formData.musik !== this.defaultMusik)
                            formData.musik = await this.photoUpload(this.form.musik);
                        //Update ke Database
                        const res = await fetch('/api/pernikahan', {
                            method: 'PUT',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code == 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.checkID()
                        }
                    }
                } catch (e) {
                    console.log(e)
                }
            },
            onSave: async function () {
                try {
                    if (!this.validationGeneralInformation())
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.form}
                        //Image Upload
                        formData.image_cover = await this.photoUpload(this.form.image_cover);
                        formData.image_cover_potrait = await this.photoUpload(this.form.image_cover_potrait);
                        //Generate Code
                        let kode = formData.nama.replaceAll(' ', '_')
                        kode = kode.replaceAll('&', 'dan')
                        kode = kode.replaceAll('.', '_')
                        //Insert To Database
                        formData.id = kode
                        const res = await fetch('/api/pernikahan', {
                            method: 'POST',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code == 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            let _this = this
                            setTimeout(() => {
                                window.removeEventListener('beforeunload', _this.leaving, true)
                                window.location = "/wo/pernikahan";
                            }, 1000);
                        }
                    }
                } catch (e) {

                }
            },
            onCancel: function () {
                let confirmAction = confirm("Apakah anda yakin ingin membatalkan?");
                if (confirmAction) {
                    window.history.back()
                } else {
                    //TODO Nothing
                }
            },
            loadData: async function () {
                try {
                    const res = await fetch(`/api/pernikahan/${this.form.id}`)
                    const data = await res.json()
                    this.form = data.data[0]
                    this.defaultImageQR = this.form.angpau_qr
                    this.defaultMusik = this.form.musik
                    if (this.form.image_cover !== null || this.form.image_cover !== '') {
                        this.defaultImageCover = this.form.image_cover
                        document.getElementById("labelphoto").innerHTML = this.form.image_cover
                    }
                    if (this.form.image_cover_potrait !== null || this.form.image_cover_potrait !== '') {
                        this.defaultImageCoverPotrait = this.form.image_cover_potrait
                        document.getElementById("labelphotopotrait").innerHTML = this.form.image_cover_potrait
                    }
                    if (this.form.image_calon1 !== null || this.form.image_calon1 !== '') {
                        this.defaultImageCPP = this.form.image_calon1
                        document.getElementById("image_cpp").innerHTML = this.form.image_calon1
                    }
                    if (this.form.image_calon2 !== null || this.form.image_calon2 !== '') {
                        this.defaultImageCPW = this.form.image_calon2
                        document.getElementById("image_cpw").innerHTML = this.form.image_calon2
                    }
                } catch (e) {

                }
            },
            //Area Informasi CPP
            onPhotoCPPChange: function (e) {
                try {
                    let [file] = e.target.files;
                    if (!file) throw Error("File kosong");
                    this.form.image_calon1 = file;
                    document.getElementById("image_cpp").innerHTML = this.form.image_calon1.name;
                } catch (error) {
                    console.error(error)
                }
            },
            validationCPPInformation: function () {
                let isValid = true
                if (this.form.nama_calon1 === '' || this.form.nama_calon1 == null)
                    isValid = false
                if (this.form.image_calon1 === '' || this.form.image_calon1 == null)
                    isValid = false
                return isValid
            },

            //Area Informasi CPW
            validationCPWInformation: function () {
                let isValid = true
                if (this.form.nama_calon2 === '' || this.form.nama_calon2 == null)
                    isValid = false
                if (this.form.image_calon2 === '' || this.form.image_calon2 == null)
                    isValid = false
                return isValid
            },
            onPhotoCPWChange: function (e) {
                try {
                    let [file] = e.target.files;
                    if (!file) throw Error("File kosong");
                    this.form.image_calon2 = file;
                    document.getElementById("image_cpw").innerHTML = this.form.image_calon2.name;
                } catch (error) {
                    console.error(error)
                }
            },

            //Area Informasi Sesi
            addAnotherSession: function () {
                this.formGuest.sesi.push(0)
            },
            deleteOneSession: function (index) {
                this.formGuest.sesi.splice(index, 1)
            },
            setEditSession: function (params, index) {
                this.editSession = params
                if (params && this.addSession === true)
                    this.addSession = false
                if (params) {
                    this.formSession.id = this.session[index].id
                    this.formSession.nama_sesi = this.session[index].nama_sesi
                    this.formSession.tanggal = this.session[index].tanggal
                    this.formSession.waktu_mulai = this.session[index].waktu_mulai
                    this.formSession.waktu_selesai = this.session[index].waktu_selesai
                    this.formSession.alamat = this.session[index].alamat
                    this.formSession.url_gmaps = this.session[index].url_gmaps
                    window.scrollTo(0, 0)
                } else
                    this.clearSessionForm()
            },
            setAddSession: function (params) {
                this.addSession = params
                if (params && this.editSession === true) {
                    this.clearSessionForm()
                    this.editSession = false
                }
                if (!params)
                    this.clearSessionForm()
            },
            clearSessionForm: function () {
                this.formSession.id = ''
                this.formSession.nama_sesi = ''
                this.formSession.tanggal = ''
                this.formSession.waktu_mulai = ''
                this.formSession.waktu_selesai = ''
                this.formSession.alamat = ''
                this.formSession.url_gmaps = ''
            },
            validationSessionInformation: function () {
                let isValid = true
                if (this.formSession.nama_sesi === '' || this.formSession.nama_sesi == null)
                    isValid = false
                if (this.formSession.waktu_mulai === '' || this.formSession.waktu_mulai == null)
                    isValid = false
                if (this.formSession.tanggal === '' || this.formSession.tanggal == null)
                    isValid = false
                if (this.formSession.waktu_selesai === '' || this.formSession.waktu_selesai == null)
                    isValid = false
                if (this.formSession.alamat === '' || this.formSession.alamat == null)
                    isValid = false
                if (this.formSession.url_gmaps === '' || this.formSession.url_gmaps == null)
                    isValid = false
                return isValid
            },
            validationAngpau: function () {
              let isValid = true
              if(this.formAngpau.angpau_rek_bank !== '' || this.formAngpau.angpau_rek_bank !== null){
                  if(this.formAngpau.angpau_rek_nomor === '' || this.formAngpau.angpau_rek_nomor === null)
                      isValid = false
                  if(this.formAngpau.angpau_rek_nama === '' || this.formAngpau.angpau_rek_nama === null)
                      isValid = false
              } else
                  isValid = false
                return isValid
            },
            onSaveSession: async function () {
                try {
                    if (!this.validationSessionInformation())
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.formSession}
                        //Insert To Database
                        formData.id = Date.now()
                        const res = await fetch('/api/sesi', {
                            method: 'POST',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.setAddSession(false)
                            this.loadSession()
                        }
                    }
                } catch (e) {

                }
            },
            onSaveAngpau: async function () {
                try {
                    if (!this.validationAngpau())
                        toastr.warning("Harap isi semua form!")
                    else {
                        let formData = {...this.formAngpau}
                        //Insert To Database
                        const res = await fetch('/api/pernikahan/angpau', {
                            method: 'PUT',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.loadAngpau()
                        }
                    }
                } catch (e) {

                }
            },
            onSaveGuestBook: async function () {
                try {
                    if (this.formGuestBook.kode === "" || this.formGuestBook.status === "")
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.formGuestBook}
                        //Insert To Database
                        formData.id_pernikahan = idNikahan
                        const res = await fetch('/api/tamu/kehadiran', {
                            method: 'POST',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.setAddGuestBook(false)
                            this.loadGuestBook()
                        }
                    }
                } catch (e) {

                }
            },
            onUpdateSession: async function () {
                try {
                    if (!this.validationSessionInformation())
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.formSession}
                        //Update Database
                        const res = await fetch('/api/sesi', {
                            method: 'PUT',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.setEditSession(false)
                            this.loadSession()
                        }
                    }
                } catch (e) {

                }
            },
            loadSession: async function () {
                try {
                    const res = await fetch(`/api/sesi/${this.form.id}`)
                    const data = await res.json()
                    this.session = data.data
                    $('#sesi').DataTable().destroy()
                    setTimeout(() => {
                        this.$nextTick(function () {
                            $('#sesi').DataTable({
                                "destroy": true,
                                "retrieve": true,
                                "paging": true,
                                "lengthChange": true,
                                "searching": true,
                                "ordering": true,
                                "info": true,
                                "autoWidth": false,
                                "responsive": true,
                            })
                        })
                    }, 300)
                } catch (e) {

                }
            },

            //
            setEditGroup: function (params, index) {
                this.editGroup = params
                if (params && this.addGroup === true)
                    this.addGroup = false
                if (params) {
                    this.formGroup.id = this.group[index].id
                    this.formGroup.nama = this.group[index].nama
                    window.scrollTo(0, 0)
                } else
                    this.clearGroupForm()
            },
            setEditStory: function (params, index) {
                this.editStory = params
                if (params && this.addStory === true)
                    this.addStory = false
                if (params) {
                    this.formStory.id = this.story[index].id
                    this.formStory.tahun = this.story[index].tahun
                    this.formStory.story = this.story[index].story
                    window.scrollTo(0, 0)
                } else
                    this.clearStoryFrom()
            },
            setEditGuest: async function (params, index) {
                this.editGuest = params
                if (params && this.addGuest === true)
                    this.addGuest = false
                if (params) {
                    this.formGuest.id = this.guest[index].id
                    this.formGuest.is_family = this.guest[index].is_family
                    this.formGuest.id_grup = this.guest[index].id_grup
                    this.formGuest.nama = this.guest[index].nama
                    this.formGuest.telepon = this.guest[index].telepon
                    this.formGuest.jumlah_dewasa = this.guest[index].jumlah_dewasa
                    this.formGuest.jumlah_anak = this.guest[index].jumlah_anak
                    this.formGuest.rsvp = this.guest[index].rsvp
                    this.formGuest.kehadiran = this.guest[index].kehadiran
                    this.formGuest.kode = this.guest[index].kode
                    this.formGuest.is_vip = this.guest[index].is_vip
                    this.formGuest.ucapan = this.guest[index].ucapan
                    //Mengambil data sesi
                    try {
                        const res = await fetch(`/api/sesi/detail/${this.formGuest.id}`)
                        const data = await res.json()
                        data.data.forEach(item => {
                            this.formGuest.sesi.push(item.id_sesi)
                        })
                    } catch (e) {
                        console.log(e)
                    }
                    window.scrollTo(0, 0)
                } else
                    this.clearGuestForm()
            },
            setAddGroup: function (params) {
                this.addGroup = params
                if (params && this.editGroup === true) {
                    this.clearGroupForm()
                    this.editGroup = false
                }
                if (!params)
                    this.clearGroupForm()
            },
            setAddGuest: function (params) {
                this.addGuest = params
                if (params && this.editGuest === true) {
                    this.clearGuestForm()
                    this.editGuest = false
                }
                if (!params)
                    this.clearGuestForm()
            },
            setAddGuestBook: function (params) {
                this.clearGuestBookForm()
                this.addGuestBook = params
            },
            setAddStory: function (params) {
                this.addStory = params
                if (params && this.editStory === true) {
                    this.clearStoryFrom()
                    this.editStory = false
                }
                if (!params)
                    this.clearStoryFrom()
            },
            clearStoryFrom: function () {
                this.formStory.id = ''
                this.formStory.tahun = ''
                this.formStory.story = ''
            },
            clearGroupForm: function () {
                this.formGroup.id = ''
                this.formGroup.nama = ''
            },
            clearGuestForm: function () {
                this.formGuest.id = ''
                this.formGuest.is_family = ''
                this.formGuest.sesi = []
                this.formGuest.nama = ''
                this.formGuest.telepon = ''
                this.formGuest.jumlah_dewasa = 1
                this.formGuest.jumlah_anak = 0
                this.formGuest.rsvp = ''
                this.formGuest.kehadiran = ''
                this.formGuest.kode = ''
                this.formGuest.is_vip = ''
                this.formGuest.ucapan = ''
            },
            clearGuestBookForm: function () {
                this.formGuestBook.kode = ""
                this.formGuestBook.status = ""
            },
            checkID: function () {
                if (idNikahan) {
                    this.formSession.id_pernikahan = idNikahan
                    this.form.id = idNikahan
                    this.formGuest.id_pernikahan = idNikahan
                    this.formGallery.id_pernikahan = idNikahan
                    this.formExcel.id_pernikahan = idNikahan
                    this.formGroup.id_pernikahan = idNikahan
                    this.formStory.id_pernikahan = idNikahan
                    this.loadData()
                    this.loadSession()
                    this.loadGuest()
                    this.loadGuestBook()
                    this.loadGallery()
                    this.loadGroup()
                    this.loadStory()
                }
            },
            generateCode: function () {
                let text = "";
                let possible = "0123456789";
                for (let i = 0; i <= 5; i++)
                    text += possible.charAt(Math.floor(Math.random() * possible.length));
                return text;
            },
            isActiveSideMenu: function (id) {
                return this.sideMenuIndex === id
            },
            setSideMenuIndex: function (idx) {
                this.sideMenuIndex = idx
            },
            onExcelChange: function (e) {
                try {
                    let [file] = e.target.files;
                    if (!file) throw Error("File kosong");
                    this.formExcel.excel = file;
                    document.getElementById("excel").innerHTML = this.formExcel.excel.name;
                } catch (error) {
                    console.error(error)
                }
            },
            onGalleryChange: function (e) {
                try {
                    let [file] = e.target.files;
                    if (!file) throw Error("File kosong");
                    this.formGallery.image = file;
                    document.getElementById("image_gallery").innerHTML = this.formGallery.image.name;
                } catch (error) {
                    console.error(error)
                }
            },
            onMusicChange: function (e) {
                try {
                    let [file] = e.target.files;
                    if (!file) throw Error("File kosong");
                    this.form.musik = file;
                    document.getElementById("labelmusik").innerHTML = this.form.musik.name;
                } catch (error) {
                    console.error(error)
                }
            },
            onQRChange: function (e) {
                try {
                    let [file] = e.target.files;
                    if (!file) throw Error("File kosong");
                    this.form.angpau_qr = file;
                    document.getElementById("image_qr").innerHTML = this.form.angpau_qr.name;
                } catch (error) {
                    console.error(error)
                }
            },
            validationGuestInformation: function () {
                let isValid = true
                if (this.formGuest.nama === '' || this.formGuest.nama == null)
                    isValid = false
                if (this.formGuest.telepon === '' || this.formGuest.telepon == null)
                    isValid = false
                if (this.formGuest.jumlah_dewasa === '' || this.formGuest.jumlah_dewasa == null)
                    isValid = false
                if (this.formGuest.is_vip === '' || this.formGuest.is_vip == null)
                    isValid = false
                if (this.formGuest.sesi[0] === '' || this.formGuest.sesi[0] == null)
                    isValid = false
                return isValid
            },
            validationGallery: function () {
                let isValid = true
                if (this.formGallery.image == null || this.formGallery === '')
                    isValid = false
                return isValid
            },
            onUploadExcel: async function () {
                try {
                    if (this.formExcel.excel == null)
                        toastr.warning("Harap pilih file excel sebelum upload!")
                    else {
                        let formData = {...this.formExcel}
                        formData.excel = await this.excelUpload()
                        const res = await fetch('/api/tamu/excel', {
                            method: 'POST',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.formExcel.excel = null
                            document.getElementById("excel").innerHTML = "Pilih File Excel"
                            this.loadGuest()
                        }
                    }
                } catch (e) {

                }
            },
            onSaveStory: async function () {
                try {
                    if (this.formStory.tahun === '' || this.formStory.story === '')
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.formStory}
                        //Mengisi data yang masih kosong
                        formData.id = Date.now()
                        const res = await fetch('/api/story', {
                            method: 'POST',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.setAddStory(false)
                            this.loadStory()
                        }
                    }
                } catch (e) {

                }
            },
            onUpdateStory: async function () {
                try {
                    if (this.formStory.tahun === '' || this.formStory.story === '')
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.formStory}
                        const res = await fetch('/api/story', {
                            method: 'PUT',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.setEditStory(false)
                            this.loadStory()
                        }
                    }
                } catch (e) {
                    console.log(e)
                }
            },
            onSaveGuest: async function () {
                try {
                    if (!this.validationGuestInformation()) {
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                        return
                    }
                    if ((this.formGuest.jumlah_dewasa < 1 || this.formGuest.jumlah_dewasa > 2) && this.formGuest.is_family === 'Tidak') {
                        toastr.warning("Jumlah tamu dewasa minimal 1 dan maksimal 2!")
                        return
                    }
                    if ((this.formGuest.jumlah_anak < 0 || this.formGuest.jumlah_anak > 2) && this.formGuest.is_family === 'Tidak') {
                        toastr.warning("Jumlah tamu anak - anak minimal 0 dan maksimal 2!")
                        return
                    }
                    let formData = {...this.formGuest}
                    //Mengisi data yang masih kosong
                    formData.kode = this.generateCode()
                    const res = await fetch('/api/tamu', {
                        method: 'POST',
                        body: JSON.stringify(formData),
                        headers: {'Content-Type': "application/json"}
                    });
                    const data = await res.json();
                    //
                    if (data.code === 0)
                        toastr.error(data.message);
                    else {
                        toastr.success(data.message);
                        this.setAddGuest(false)
                        this.loadGuest()
                    }
                } catch (e) {

                }
            },
            onUpdateGuest: async function () {
                try {
                    if (!this.validationGuestInformation()) {
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                        return
                    }
                    if (this.formGuest.jumlah_dewasa < 1 || this.formGuest.jumlah_dewasa > 2) {
                        toastr.warning("Jumlah tamu dewasa minimal 1 dan maksimal 2!")
                        return
                    }
                    if (this.formGuest.jumlah_anak < 0 || this.formGuest.jumlah_anak > 2) {
                        toastr.warning("Jumlah tamu anak - anak minimal 0 dan maksimal 2!")
                        return
                    }
                    let formData = {...this.formGuest}
                    //Update Database
                    const res = await fetch('/api/tamu', {
                        method: 'PUT',
                        body: JSON.stringify(formData),
                        headers: {'Content-Type': "application/json"}
                    });
                    const data = await res.json();
                    //
                    if (data.code === 0)
                        toastr.error(data.message);
                    else {
                        toastr.success(data.message);
                        this.setEditGuest(false)
                        this.loadGuest()
                    }
                } catch (e) {

                }
            },
            onSaveGroup: async function () {
                try {
                    if (this.formGroup.nama === '' || this.formGroup.nama == null)
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.formGroup}
                        //Insert To Database
                        formData.id = Date.now()
                        const res = await fetch('/api/grup', {
                            method: 'POST',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.setAddGroup(false)
                            this.loadGroup()
                        }
                    }
                } catch (e) {

                }
            },
            onUpdateGroup: async function () {
                try {
                    if (this.formGroup.nama === '' || this.formGroup.nama == null)
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.formGroup}
                        const res = await fetch('/api/grup', {
                            method: 'PUT',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.setEditGroup(false)
                            this.loadGroup()
                        }
                    }
                } catch (e) {

                }
            },
            photoUpload: async function (files) {
                try {
                    toastr.warning("Harap Tunggu");
                    let formData = new FormData();
                    formData.append('file', files)
                    const params = {method: 'POST', body: formData};
                    const res = await fetch('/api/upload-image', params);
                    if (res.status != 200) throw Error("Upload photo gagal!");
                    const data = await res.json();
                    return Promise.resolve(data.path);
                } catch (err) {
                    return Promise.reject(err);
                }
            },
            excelUpload: async function () {
                try {
                    toastr.warning("Harap Tunggu");
                    let formData = new FormData();
                    formData.append('file', this.formExcel.excel)
                    const params = {method: 'POST', body: formData};
                    const res = await fetch('/api/upload-excel', params);
                    if (res.status != 200) throw Error("Upload excel gagal!");
                    const data = await res.json();
                    return Promise.resolve(data.path);
                } catch (err) {
                    return Promise.reject(err);
                }
            },
            onUploadGallery: async function () {
                try {
                    if (!this.validationGallery())
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.formGallery}
                        //Image Upload
                        formData.image = await this.photoUpload(this.formGallery.image);
                        //Insert To Database
                        formData.id = Date.now()
                        const res = await fetch('/api/gallery', {
                            method: 'POST',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code == 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.formGallery.id = ''
                            this.formGallery.keterangan = ''
                            this.formGallery.image = null
                            document.getElementById("image_gallery").innerHTML = "Silahkan pilih file foto"
                            this.loadGallery()
                        }
                    }
                } catch (e) {

                }
            },
            onDeleteGallery: async function (index) {
                try {
                    let confirmAction = confirm("Apakah anda ingin menghapus foto ini ?");
                    if (confirmAction) {
                        let formData = {...this.gallery[index]}
                        const res = await fetch('/api/gallery', {
                            method: 'DELETE',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code == 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.loadGallery()
                        }
                    } else {
                        //TODO Nothing
                    }
                } catch (e) {

                }
            },
            onDeleteStory: async function (index) {
                try {
                    let confirmAction = confirm("Apakah anda ingin menghapus story ini ?");
                    if (confirmAction) {
                        let formData = {...this.story[index]}
                        const res = await fetch('/api/story', {
                            method: 'DELETE',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code == 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.loadStory()
                        }
                    } else {
                        //TODO Nothing
                    }
                } catch (e) {

                }
            },
            onDeleteGuest: async function (index) {
                try {
                    let confirmAction = confirm("Apakah anda ingin menghapus tamu ini ?");
                    if (confirmAction) {
                        let formData = {...this.guest[index]}
                        const res = await fetch('/api/tamu', {
                            method: 'DELETE',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code == 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.loadGuest()
                            this.loadGuestBook()
                        }
                    } else {
                        //TODO Nothing
                    }
                } catch (e) {

                }
            },
            onDeleteGroup: async function (index) {
                try {
                    let confirmAction = confirm("Apakah anda ingin menghapus grup ini ?");
                    if (confirmAction) {
                        let formData = {...this.group[index]}
                        const res = await fetch('/api/grup', {
                            method: 'DELETE',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code == 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.loadGroup()
                            this.loadGuest()
                        }
                    } else {
                        //TODO Nothing
                    }
                } catch (e) {

                }
            },
            onDeleteSession: async function (index) {
                try {
                    let confirmAction = confirm("Apakah anda ingin menghapus sesi ini ?");
                    if (confirmAction) {
                        let formData = {...this.session[index]}
                        const res = await fetch('/api/sesi', {
                            method: 'DELETE',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code == 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.loadSession()
                        }
                    } else {
                        //TODO Nothing
                    }
                } catch (e) {

                }
            },
            loadGuest: async function () {
                try {
                    const res = await fetch(`/api/tamu/${this.form.id}`)
                    const data = await res.json()
                    this.guest = data.data
                    $('#tamu').DataTable().destroy()
                    setTimeout(() => {
                        this.$nextTick(function () {
                            $('#tamu').DataTable({
                                "destroy": true,
                                "retrieve": true,
                                "paging": true,
                                "lengthChange": true,
                                "searching": true,
                                "ordering": true,
                                "info": true,
                                "autoWidth": false,
                                "responsive": true,
                            })
                        })
                    }, 300)
                } catch (e) {

                }
            },
            loadGuestBook: async function () {
                try {
                    const res = await fetch(`/api/tamu/buku/${this.form.id}`)
                    const data = await res.json()
                    this.guestBook = data.data
                    $('#buku-tamu').DataTable().destroy()
                    setTimeout(() => {
                        this.$nextTick(function () {
                            $('#buku-tamu').DataTable({
                                "destroy": true,
                                "retrieve": true,
                                "paging": true,
                                "lengthChange": true,
                                "searching": true,
                                "ordering": true,
                                "info": true,
                                "autoWidth": false,
                                "responsive": true,
                            })
                        })
                    }, 300)
                } catch (e) {

                }
            },
            loadGroup: async function () {
                try {
                    const res = await fetch(`/api/grup/${this.form.id}`)
                    const data = await res.json()
                    this.group = data.data
                    $('#grup').DataTable().destroy()
                    setTimeout(() => {
                        this.$nextTick(function () {
                            $('#grup').DataTable({
                                "destroy": true,
                                "retrieve": true,
                                "paging": true,
                                "lengthChange": true,
                                "searching": true,
                                "ordering": true,
                                "info": true,
                                "autoWidth": false,
                                "responsive": true,
                            })
                        })
                    }, 300)
                } catch (e) {

                }
            },
            loadStory: async function () {
                try {
                    const res = await fetch(`/api/story/${this.form.id}`)
                    const data = await res.json()
                    this.story = data.data
                    $('#story').DataTable().destroy()
                    setTimeout(() => {
                        this.$nextTick(function () {
                            $('#story').DataTable({
                                "destroy": true,
                                "retrieve": true,
                                "paging": true,
                                "lengthChange": true,
                                "searching": true,
                                "ordering": true,
                                "info": true,
                                "autoWidth": false,
                                "responsive": true,
                            })
                        })
                    }, 300)
                } catch (e) {

                }
            },
            loadGallery: async function () {
                try {
                    const res = await fetch(`/api/gallery/${this.form.id}`)
                    const data = await res.json()
                    this.gallery = data.data
                } catch (e) {

                }
            },
            downloadGuestBook: function () {
                if (this.guestBook.length === 0)
                    toastr.warning("Maaf, belum ada data tamu untuk di download")
                else {
                    window.jsPDF = window.jspdf.jsPDF;
                    var pdf = new jsPDF("p", "pt", "a4")
                    pdf.autoTable({html: '#buku-tamu'})
                    pdf.save('Bukutamu-' + this.form.tanggal.substring(0, 10) + '.pdf')
                }
            },
            downloadInvitationLink: function () {
                if (this.guest.length === 0)
                    toastr.warning("Maaf, belum ada data tamu satupun!")
                else {
                    window.jsPDF = window.jspdf.jsPDF
                    var pdf = new jsPDF("p", "pt", "a4")
                    pdf.autoTable({html: '#undangan'})
                    pdf.save('Link Undangan ' + this.form.nama + '.pdf')
                }
            },
            downloadGuestExcel: function (type, fn, dl) {
                var elt = document.getElementById('tamu');
                var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
                return dl ?
                    XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
                    XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
            }
        },
        components: {
            vuejsDatepicker
        },
        mounted() {
            this.form.id_wo = emailWO
            this.checkID()
        }
    })
</script>
