<%- include('./partials/header.html') %>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper" id="form-pernikahan">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/wo/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>

    <%- include('./partials/pernikahan-navbar.html') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="form-divisi">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <%- include('./partials/form-pernikahan/form-informasi-umum.html') %>
        <% if (locals.id) { %>
        <%- include('./partials/form-pernikahan/form-informasi-cpp.html') %>
        <%- include('./partials/form-pernikahan/form-informasi-cpw.html') %>
        <%- include('./partials/form-pernikahan/form-sesi.html') %>
        <%- include('./partials/form-pernikahan/form-tamu.html') %>
        <% } %>
    </div>
</div>
<footer class="main-footer">
    <strong>Copyright &copy; 2022 Kawin Lari</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
    </div>
</footer>
<%- include('./partials/footer.html') %>
<script type="application/javascript">
    <% if (locals.id) { %>
        let idNikahan = <%= id %>;
        <% } %>
    let emailWO = "<%= email %>";
</script>
<script type="application/javascript">
    var app = new Vue({
        el: '#form-pernikahan',
        data: {
            sideMenuIndex: 1,
            formatDate: "yyyy-MM-dd",
            defaultImageCover: '',
            defaultImageCPP: '',
            defaultImageCPW: '',
            addSession: false,
            editSession: false,
            addGuest : false,
            editGuest : false,
            session: [],
            guest: [],
            form: {
                id: '',
                id_wo: '',
                id_pengantin: '',
                nama: '',
                tanggal: '',
                nama_cpp: '',
                image_cpp: null,
                ayah_cpp: '',
                ibu_cpp: '',
                nama_cpw: '',
                image_cpw: null,
                ayah_cpw: '',
                ibu_cpw: '',
                quote_cover: '',
                image_cover: null,
                alamat: '',
                url_gmaps: ''
            },
            formSession: {
                id: '',
                id_pernikahan: '',
                nama_sesi: '',
                waktu_mulai: '',
                waktu_selesai: ''
            },
            formGuest : {
                id : '',
                id_sesi : '',
                id_pernikahan : '',
                nama : '',
                telepon : '',
                jumlah : '',
                jenis_tamu : '',
                rsvp : '',
                kehadiran : '',
                kode : '',
                is_vip : '',
                ucapan : ''
            }
        },
        methods: {
            setEditSession : function (params, index) {
                this.editSession = params
                if(params && this.addSession === true)
                    this.addSession = false
                if(params){
                    this.formSession.id = this.session[index].id
                    this.formSession.nama_sesi = this.session[index].nama_sesi
                    this.formSession.waktu_mulai = this.session[index].waktu_mulai
                    this.formSession.waktu_selesai = this.session[index].waktu_selesai
                } else
                    this.clearSessionForm()
            },
            setEditGuest : function (params, index) {
                this.editGuest = params
                if(params && this.addGuest === true)
                    this.addGuest = false
                if(params){
                    this.formGuest.id = this.guest[index].id
                    this.formGuest.id_sesi = this.guest[index].id_sesi
                    this.formGuest.nama = this.guest[index].nama
                    this.formGuest.telepon = this.guest[index].telepon
                    this.formGuest.jumlah = this.guest[index].jumlah
                    this.formGuest.jenis_tamu = this.guest[index].jenis_tamu
                    this.formGuest.rsvp = this.guest[index].rsvp
                    this.formGuest.kehadiran = this.guest[index].kehadiran
                    this.formGuest.kode = this.guest[index].kode
                    this.formGuest.is_vip = this.guest[index].is_vip
                    this.formGuest.ucapan = this.guest[index].ucapan
                } else
                    this.clearGuestForm()
            },
            setAddSession: function (params) {
                this.addSession = params
                if (params && this.editSession === true) {
                    this.clearSessionForm()
                    this.editSession = false
                }
                if (!params)
                    this.clearSessionForm()
            },
            setAddGuest: function (params) {
                this.addGuest = params
                if (params && this.editGuest === true) {
                    this.clearGuestForm()
                    this.editGuest = false
                }
                if (!params)
                    this.clearGuestForm()
            },
            clearSessionForm: function () {
                this.formSession.id = ''
                this.formSession.nama_sesi = ''
                this.formSession.waktu_mulai = ''
                this.formSession.waktu_selesai = ''
            },
            clearGuestForm: function () {
                this.formGuest.id = ''
                this.formGuest.id_sesi = ''
                this.formGuest.nama = ''
                this.formGuest.telepon = ''
                this.formGuest.jumlah = ''
                this.formGuest.jenis_tamu = ''
                this.formGuest.rsvp = ''
                this.formGuest.kehadiran = ''
                this.formGuest.kode = ''
                this.formGuest.is_vip = ''
                this.formGuest.ucapan = ''
            },
            checkID: function () {
                if (idNikahan) {
                    this.formSession.id_pernikahan = idNikahan
                    this.form.id = idNikahan
                    this.formGuest.id_pernikahan = idNikahan
                    this.loadData()
                    this.loadSession()
                    this.loadGuest()
                }
            },
            generateCode: function () {
                let text = "";
                let possible = "abcdefghijklmnopqrstuvwxyz0123456789";
                for (let i = 0; i <= 5; i++)
                    text += possible.charAt(Math.floor(Math.random() * possible.length));
                return text;
            },
            isActiveSideMenu: function (id) {
                return this.sideMenuIndex === id
            },
            setSideMenuIndex: function (idx) {
                this.sideMenuIndex = idx
            },
            onPhotoChange: function (e) {
                try {
                    let [file] = e.target.files;
                    if (!file) throw Error("File kosong");
                    this.form.image_cover = file;
                    document.getElementById("labelphoto").innerHTML = this.form.image_cover.name;
                } catch (error) {
                    console.error(error)
                }
            },
            onPhotoCPPChange: function (e) {
                try {
                    let [file] = e.target.files;
                    if (!file) throw Error("File kosong");
                    this.form.image_cpp = file;
                    document.getElementById("image_cpp").innerHTML = this.form.image_cpp.name;
                } catch (error) {
                    console.error(error)
                }
            },
            onPhotoCPWChange: function (e) {
                try {
                    let [file] = e.target.files;
                    if (!file) throw Error("File kosong");
                    this.form.image_cpw = file;
                    document.getElementById("image_cpw").innerHTML = this.form.image_cpw.name;
                } catch (error) {
                    console.error(error)
                }
            },
            validationGeneralInformation: function () {
                let isValid = true
                if (this.form.nama === '' || this.form.nama == null)
                    isValid = false
                if (this.form.tanggal === '' || this.form.tanggal == null)
                    isValid = false
                if (this.form.alamat === '' || this.form.alamat == null)
                    isValid = false
                if (this.form.url_gmaps === '' || this.form.url_gmaps == null)
                    isValid = false
                if (this.form.image_cover === null)
                    isValid = false
                if (this.form.quote_cover === '' || this.form.quote_cover == null)
                    isValid = false
                return isValid
            },
            validationCPPInformation: function () {
                let isValid = true
                if (this.form.nama_cpp === '' || this.form.nama_cpp == null)
                    isValid = false
                if (this.form.ayah_cpp === '' || this.form.ayah_cpp == null)
                    isValid = false
                if (this.form.ibu_cpp === '' || this.form.ibu_cpp == null)
                    isValid = false
                if (this.form.image_cpp === '' || this.form.image_cpp == null)
                    isValid = false
                return isValid
            },
            validationSessionInformation: function () {
                let isValid = true
                if (this.formSession.nama_sesi === '' || this.formSession.nama_sesi == null)
                    isValid = false
                if (this.formSession.waktu_mulai === '' || this.formSession.waktu_mulai == null)
                    isValid = false
                if (this.formSession.waktu_selesai === '' || this.formSession.waktu_selesai == null)
                    isValid = false
                return isValid
            },
            validationGuestInformation: function () {
                let isValid = true
                if (this.formGuest.nama === '' || this.formGuest.nama == null)
                    isValid = false
                if (this.formGuest.telepon === '' || this.formGuest.telepon == null)
                    isValid = false
                if (this.formGuest.jumlah === '' || this.formGuest.jumlah == null)
                    isValid = false
                if (this.formGuest.id_sesi === '' || this.formGuest.id_sesi == null)
                    isValid = false
                if (this.formGuest.is_vip === '' || this.formGuest.is_vip == null)
                    isValid = false
                return isValid
            },
            updateValidation: function () {
                let isValid = true
                if (this.sideMenuIndex === 1) {
                    if (!this.validationGeneralInformation())
                        isValid = false
                } else if (this.sideMenuIndex === 2) {
                    if (!this.validationCPPInformation())
                        isValid = false
                }
                return isValid
            },
            onUpdate: async function () {
                try {
                    if (!this.updateValidation())
                        toastr.warning("Harap mengisi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.form}
                        //Image Upload
                        if (formData.image_cover != null && formData.image_cover !== this.defaultImageCover)
                            formData.image_cover = await this.photoUpload();
                        if (formData.image_cpp != null && formData.image_cpp !== this.defaultImageCPP)
                            formData.image_cpp = await this.photoUpload();
                        if (formData.image_cpw != null && formData.image_cpw !== this.defaultImageCPW)
                            formData.image_cpw = await this.photoUpload();
                        //Update ke Database
                        const res = await fetch('/api/pernikahan', {
                            method: 'PUT',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code == 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.checkID()
                        }
                    }
                } catch (e) {
                    console.log(e)
                }
            },
            onSave: async function () {
                try {
                    if (!this.validationGeneralInformation())
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.form}
                        //Image Upload
                        formData.image_cover = await this.photoUpload();
                        //Insert To Database
                        formData.id = Date.now()
                        const res = await fetch('/api/pernikahan', {
                            method: 'POST',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code == 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            let _this = this
                            setTimeout(() => {
                                window.removeEventListener('beforeunload', _this.leaving, true)
                                window.location = "/wo/pernikahan";
                            }, 1000);
                        }
                    }
                } catch (e) {

                }
            },
            onSaveGuest: async function () {
                try {
                    if (!this.validationGuestInformation())
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.formGuest}
                        //Mengisi data yang masih kosong
                        formData.kode = this.generateCode()
                        const res = await fetch('/api/tamu', {
                            method: 'POST',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.setAddGuest(false)
                            this.loadGuest()
                        }
                    }
                } catch (e) {

                }
            },
            onUpdateGuest: async function () {
                try {
                    if (!this.validationGuestInformation())
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.formGuest}
                        //Update Database
                        const res = await fetch('/api/tamu', {
                            method: 'PUT',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.setEditGuest(false)
                            this.loadGuest()
                        }
                    }
                } catch (e) {

                }
            },
            onSaveSession: async function () {
                try {
                    if (!this.validationSessionInformation())
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.formSession}
                        //Insert To Database
                        formData.id = Date.now()
                        const res = await fetch('/api/sesi', {
                            method: 'POST',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.setAddSession(false)
                            this.loadSession()
                        }
                    }
                } catch (e) {

                }
            },
            onUpdateSession: async function () {
                try {
                    if (!this.validationSessionInformation())
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                    else {
                        let formData = {...this.formSession}
                        //Update Database
                        const res = await fetch('/api/sesi', {
                            method: 'PUT',
                            body: JSON.stringify(formData),
                            headers: {'Content-Type': "application/json"}
                        });
                        const data = await res.json();
                        //
                        if (data.code === 0)
                            toastr.error(data.message);
                        else {
                            toastr.success(data.message);
                            this.setEditSession(false)
                            this.loadSession()
                        }
                    }
                } catch (e) {

                }
            },
            photoUpload: async function () {
                try {
                    toastr.warning("Harap Tunggu");
                    let formData = new FormData();
                    if (this.sideMenuIndex === 1)
                        formData.append('file', this.form.image_cover)
                    else if (this.sideMenuIndex === 2)
                        formData.append('file', this.form.image_cpp)
                    else if (this.sideMenuIndex === 3)
                        formData.append('file', this.form.image_cpw)
                    const params = {method: 'POST', body: formData};
                    const res = await fetch('/api/upload-image', params);
                    if (res.status != 200) throw Error("Upload photo gagal!");
                    const data = await res.json();
                    return Promise.resolve(data.path);
                } catch (err) {
                    return Promise.reject(err);
                }
            },
            loadData: async function () {
                try {
                    const res = await fetch(`/api/pernikahan/${this.form.id}`)
                    const data = await res.json()
                    this.form = data.data[0]
                    if (this.form.image_cover !== null) {
                        this.defaultImageCover = this.form.image_cover
                        document.getElementById("labelphoto").innerHTML = this.form.image_cover
                    }
                    if (this.form.image_cpp !== null) {
                        this.defaultImageCPP = this.form.image_cpp
                        document.getElementById("image_cpp").innerHTML = this.form.image_cpp
                    }
                    if (this.form.image_cpw !== null) {
                        this.defaultImageCPW = this.form.image_cpw
                        document.getElementById("image_cpw").innerHTML = this.form.image_cpw
                    }
                } catch (e) {

                }
            },
            loadSession: async function () {
                try {
                    const res = await fetch(`/api/sesi/${this.form.id}`)
                    const data = await res.json()
                    this.session = data.data
                } catch (e) {

                }
            },
            loadGuest: async function () {
                try {
                    const res = await fetch(`/api/tamu/${this.form.id}`)
                    const data = await res.json()
                    this.guest = data.data
                } catch (e) {

                }
            }
        },
        components: {
            vuejsDatepicker
        },
        mounted() {
            this.form.id_wo = emailWO
            this.checkID()
        }
    })
</script>
