<div v-show="sideMenuIndex == 8">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Buku Tamu</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="buku-tamu" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Jam</th>
                                    <th>Nama</th>
                                    <th>Pax Dewasa</th>
                                    <th>Pax Anak</th>
                                    <th>VIP</th>
                                    <th>Keluarga</th>
                                    <th>Grup</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item,index) in guestBook" :key="item.id">
                                    <td>{{index + 1}}</td>
                                    <td>{{item.waktu_checkin}}</td>
                                    <td>{{item.nama}}</td>
                                    <td>{{item.pax_dewasa}}</td>
                                    <td>{{item.pax_anak}}</td>
                                    <td>{{item.is_vip}}</td>
                                    <td>{{item.is_family}}</td>
                                    <td>{{item.nama_grup}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <button type="button" v-on:click="downloadGuestBook"
                                    style="float: right; margin-right: 20px;" class="btn btn-primary">Download Buku
                                Tamu
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
