<div v-show="sideMenuIndex == 1">
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Informasi Umum</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nama">Nama Pernikahan*</label>
                                <input type="text" class="form-control" v-model="form.nama" id="nama"
                                       placeholder="Contoh : Nikahan Gery Akbar & Igeta Hiroe">
                            </div>
                            <div class="form-group">
                                <label>Tanggal Pernikahan*</label>
                                <div class="input-group date" id="tanggal" data-target-input="nearest">
                                    <vuejs-datepicker v-model="form.tanggal"
                                                      :format="formatDate"></vuejs-datepicker>
                                    <div class="input-group-append" data-target="#tanggal" data-toggle="tanggal">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="photo">Foto Cover Landscape*</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="photo"
                                               v-on:change="onPhotoChange" accept="image/*">
                                        <label class="custom-file-label" id="labelphoto" for="photo">Pilih
                                            File</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="photo">Foto Cover Potrait*</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="photopotrait"
                                               v-on:change="onPhotoChangePotrait" accept="image/*">
                                        <label class="custom-file-label" id="labelphotopotrait" for="photo">Pilih
                                            File</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Quote Header (Opsional)</label>
                                <textarea name="quote" id=quote" class="form-control" rows="3"
                                          placeholder="Masukkan kutipan / quote untuk undangan anda. Quote akan ditampilkan pada undangan online"
                                          spellcheck="false" v-model="form.quote_cover"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Quote Body (Opsional)</label>
                                <textarea name="quotebody" id=quotebody" class="form-control" rows="5"
                                          placeholder="Masukkan kutipan / quote untuk undangan anda. Quote akan ditampilkan pada undangan online"
                                          spellcheck="false" v-model="form.quote_body"></textarea>
                            </div>
                            <% if (locals.id) { %>
                            <div class="form-group">
                                <label for="is_family">Template Undangan*</label>
                                <select class="form-control" id="is_family" v-model="form.template">
                                    <option value="" selected disabled>Pilih template untuk undangan Online (default
                                        Template 1)
                                    </option>
                                    <option value="1">Template 1 ID</option>
                                    <option value="2">Template 1 EN</option>
                                    <option value="3">Template 2 ID</option>
                                    <option value="4">Template 2 EN</option>
                                    <option value="5">Template 3 ID</option>
                                    <option value="6">Template 3 EN</option>
                                    <option value="7">Template 4 ID</option>
                                    <option value="8">Template 4 EN</option>
                                    <option value="9">Template 5 ID</option>
                                    <option value="10">Template 5 EN</option>
                                    <option value="11">Template 6 ID</option>
                                    <option value="12">Template 6 EN</option>
                                    <option value="13">Template 7 ID</option>
                                    <option value="14">Template 7 EN</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="form.switch_livestreaming">
                                    <label class="custom-control-label" for="customSwitch1">Livestreaming Youtube (Opsional)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="url">URL Livestreaming Youtube (Opsional)</label>
                                <input type="text" class="form-control" v-model="form.url_livestreaming" id="url"
                                       placeholder="Contoh : https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                            </div>
                            <% } %>
                        </div>
                        <!-- /.card-body -->
                        <% if (locals.id) { %>
                        <div class="card-footer">
                            <button type="submit" style="float: right; margin-right: 20px" class="btn btn-danger"
                                    onclick="window.location.href='/wo/pernikahan'">Kembali
                            </button>
                            <button type="submit" style="float: right; margin-right: 20px" class="btn btn-primary"
                                    v-on:click="onUpdate()">Perbarui Informasi Umum
                            </button>
                        </div>
                        <% } else { %>
                        <div class="card-footer">
                            <button type="submit" style="float: right; margin-right: 20px" class="btn btn-danger"
                                    v-on:click="onCancel()">Batal
                            </button>
                            <button type="submit" style="float: right; margin-right: 20px" class="btn btn-primary"
                                    v-on:click="onSave()">Simpan Informasi Umum
                            </button>
                        </div>
                        <% } %>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->

        </div>
    </section>
</div>
