<div v-show="sideMenuIndex == 3">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Informasi CPW</h3>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="nama_cpw" class="col-sm-2 col-form-label">Nama CPW*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nama_cpw"
                               placeholder="Masukkan Nama Calon Pengantin Wanita"
                               v-model="form.nama_cpw">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ayah_cpw" class="col-sm-2 col-form-label">Nama Ayah CPW*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ayah_cpw"
                               placeholder="Masukkan Nama Ayahanda Dari Calon Pengantin Wanita"
                               v-model="form.ayah_cpw">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ibu_cpw" class="col-sm-2 col-form-label">Nama Ibu CPW*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ibu_cpw"
                               placeholder="Masukkan Nama Ibunda Dari Calon Pengantin Wanita"
                               v-model="form.ibu_cpw">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Foto CPW*</label>
                    <div class="col-sm-10">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input"
                                   v-on:change="onPhotoCPWChange">
                            <label class="custom-file-label" id="image_cpw" accept="image/*">Pilih
                                File</label>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
                <div class="card-footer">
                    <button type="submit" v-on:click="onUpdate()" class="btn btn-info"
                    style="float: right; margin-right: 20px">Simpan Informasi CPW</button>
                </div>
            </div>
        </div>
    </section>
</div>