.img-divider {
  max-width: 280px;
}

canvas {
  margin-top: 24px;
}

.reverse {
  @media #{$mobile_device} {
    flex-direction: column-reverse;
  }
}

.text-shadow {
  text-shadow: 2px 2px $black100;
}

.section-header {
  position: relative;
  height: 100vh;
  @media #{$mobile_device} {
    padding-bottom: 200px;
  }
  .img-decoration {
    max-width: 380px;
    @media #{$mobile_device} {
      max-width: 300px;
    }
  }

  .rounded {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 200px;
    background-image: url(../Asset/image/rounded.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.section-about {
  overflow: hidden;
  background: url(../Asset/image/background-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 96px;

  @media #{$mobile_device} {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../Asset/image/background-1.png);
    background-size: auto;
    background-repeat: repeat;
  }
  .img-love {
    max-width: 170px;
    margin: 48px 0;
  }

  .img-person {
    height: 240px;
    width: 240px;
    object-fit: cover;
    object-position: center;
    @media #{$mobile_device} {
      height: 200px;
      width: 200px;
    }
  }
}

.section-event {
  color: $white;
  background-color: $gold100;
  // background: url(../Asset/image/background-4.png);
  background-size: cover;
  background-position: center;
  padding: 48px 0;
  .card {
    color: $black100;
  }
  .card-margin {
    @media #{$mobile_device} {
      margin-top: 20px;
    }
  }
}

.section-rsvp {
  padding: 96px 0;
  @media #{$mobile_device} {
    padding: 48px 0;
  }
  .form {
    background-color: $white;
    padding: 24px;
    label {
      color: $black100;
    }
    .btn-primary-lg {
      width: auto;
    }
    .form-check-input {
      &:checked {
        background-color: $gold100;
        border-color: $gold100;
      }
      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
    .card {
      border: 1px solid $black100;
      border-radius: 5px;
      @media #{$mobile_device} {
        margin: 16px 0;
        box-shadow: 0px 5px 15px rgba(187, 101, 22, 0.1);
      }
      @media #{$tablet_device} {
        margin: 16px 0;
        box-shadow: 0px 5px 15px rgba(187, 101, 22, 0.1);
      }
      .event-session {
        margin-top: 12px;
        margin-bottom: 12px;
      }
      .card-header {
        background-color: $gold100;
        color: $white;
      }
      max-width: 400px;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: $txt-normal;
      }
      p {
        font-family: $txt-normal;
      }
    }
    .vip-badge {
      display: inline-block;
      padding: 4px;
      font-size: 12px;
      background-color: $gold100;
      color: $white;
      border-radius: 2px;
    }
    .qrcode {
      img {
        margin: 0 auto;
        width: 130px;
        height: 130px;
      }
      canvas {
        margin: 0 auto;
        width: 130px;
        height: 130px;
      }
    }
  }
  .form-control {
    border: 1px solid $gold100;
    &:focus {
      border: 1px solid $yellow100;
      box-shadow: 0 0 5px rgba(255, 193, 7, 1);
    }
    &.input-small {
      padding: 8px 16px;
      border-radius: 0;
    }
    &.input-large {
      padding: 13px 16px;
      border-radius: 0;
    }
  }
  .btn-primary-lg {
    width: 100%;
  }
}

.section-gallery {
  padding-top: 96px;
  @media #{$mobile_device} {
    padding-top: 48px;
  }
  .img-gallery {
    transition: 0.5s;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    @media #{$mid_device} {
      height: 10vh;
    }
    @media #{$tablet_device} {
      height: 20vh;
    }
    @media #{$mobile_device} {
      height: 15vh;
    }
    &:hover {
      transform: scale(1.05, 1.05);
      transition: 0.5s;
    }
  }
}

.section-story {
  margin-top: 96px;
  padding: 48px 0;
  @media #{$mobile_device} {
    margin-top: 48px;
  }
  // background-color: #f1e0d0;
  // background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../Asset/image/background-white2.png);
  background-image: url(../Asset/image/background-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    &::after {
      content: "";
      position: absolute;
      width: 6px;
      background-color: $gold100;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
      @media #{$mobile_device} {
        left: 31px;
      }
    }
  }

  .container-story {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    @media #{$mobile_device} {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }

    .content {
      padding: 20px 30px;
      background-color: $white;
      border: 1px solid $gold100;
      position: relative;
      border-radius: 6px;
    }
  }

  .container-story::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: $white;
    border: 4px solid $gold100;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .left {
    left: 0;
  }

  .right {
    left: 50%;
    @media #{$mobile_device} {
      left: 0%;
    }
  }

  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid $gold100;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent $gold100;
  }

  .left::after {
    @media #{$mobile_device} {
      left: 7px;
    }
  }

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid $gold100;
    border-width: 10px 10px 10px 0;
    border-color: transparent $gold100 transparent transparent;
  }

  .right::after {
    left: -13px;
    @media #{$mobile_device} {
      left: 7px;
    }
  }

  @media #{$mobile_device} {
    .container-story::before {
      left: 60px;
      border: medium solid $gold100;
      border-width: 10px 10px 10px 0;
      border-color: transparent $gold100 transparent transparent;
    }
  }
}

.section-ucapan {
  padding-top: 96px;

  @media #{$mobile_device} {
    padding-top: 48px;
  }
  .ucapan {
    max-height: 480px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 48px;
    padding: 16px 24px;
    border: 4px solid $gold100;
    background-color: $white;
    @media #{$mobile_device} {
      max-height: 320px;
    }
    .card-ucapan {
      margin-top: 16px;
      padding: 16px;
      background-color: #faf5eb;
      border-radius: 5px;
    }
  }
  .form-ucapan {
    margin-top: 24px;
    .form-control {
      border: 1px solid $gold100;
      &:focus {
        border: 2px solid $gold100;
        box-shadow: none;
      }
      &.input-small {
        padding: 8px 16px;
        border-radius: 0;
      }
      &.input-large {
        padding: 13px 16px;
        border-radius: 0;
      }
      &.input-area {
        border-radius: 0;
      }
    }
    .btn-primary-lg {
      width: 100%;
    }
  }
}

.section-protocol {
  .img-protocol {
    max-width: 150px;
  }
}

#start-modal {
  .btn-primary-lg {
    margin-top: 32px;
    width: 100%;
  }
}
