<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <script src="https://kit.fontawesome.com/e79b0957c7.js" crossorigin="anonymous"></script>
  <% if(locals.loadCSS){ %>
      <% locals.loadCSS.forEach(e =>{ %>
        <link rel="stylesheet" href="<%= e.src %>">
      <% }) %>
  <% } %>
</head>
<body>
