.card {
  border: none;
  border-radius: 0;
  height: 100%;
  box-shadow: 0px 5px 15px rgba(187, 101, 22, 0.1);
  @media #{$mobile_device} {
    margin: 16px 0;
    box-shadow: none;
  }
  @media #{$tablet_device} {
    margin: 16px 0;
    box-shadow: none;
  }
}
